
@{
    ViewBag.Title = "Index";
}

<h2>Periodo</h2>

<link href="~/Content/datatables.css" rel="stylesheet" />
<label>Ingrese nombre periodo : </label>
<input type="text" id="txtnombre" />
<div id="tabla">

     
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/Periodo.js"></script>

<script src="~/Scripts/datatables.min.js"></script>
